.signUpForm-v2 {
  background: #fff;
  padding: 50px 50px 50px 50px;
  max-width: 50%;
  margin: 50px auto 0;
  box-shadow: 0 0 5px #222;
  border-radius: 2px;
}
 
.tableSection{
  font-weight: bold;
}
.floatLabel{
  display:block;
  background-color: rgba(255,255,255,0.8);
  font-size: 14px;
  white-space: nowrap;
  overflow:visible
}
 
.double {
  display: block;
  justify-content: space-between;
  width: 100%;
}

.signUpForm-v2 button {
  background-color: #9c85b1;
  color: rgb(193, 196, 37);
  padding: 10px 20px;
  width: 100%;
  font-weight: bold;
  border: 0px;
}
.signUpForm-v2 button:hover {
  opacity:1;
}

.signUpForm-v2 input[type=text],
.signUpForm-v2 input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}
